<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <nav class="navbar navbar-light bg-dark">
    <div class="container-fluid">
      <h1 style="color: aliceblue;">Insumos y productos</h1>
      <div class="d-flex">
        <button type="button" (click)="crearInsumo()" data-bs-toggle="modal" data-bs-target="#exampleModal" class="btn btn-success">Gestionar</button>
  
      </div>
    </div>
  </nav>
  <div class="container">
      <div class="row">
          <div class="col">
              <div><!-- *ngFor="let insumo of insumos; let i=index">
  
                  {{i+1}}: {{insumo.nombre}} {{insumo.marca}} {insumo.costo}} {{insumo.proveedores}} -->
                  <br>
                  <table class="table mt-2">
                      <thead>
                        <tr>
                          <th scope="col" class="group-item-action">#</th>
                          <th scope="col">Nombre</th>
                          <th scope="col">Marca</th>
                          <th scope="col">Placa</th>
                          <th scope="col">Costo</th>
                          <th scope="col">Proveedores</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let insumo of insumos; let i=index">
                          <th scope="row">{{i+1}}</th>
                          <td>{{insumo.pnombre}}</td>
                          <td>{{insumo.pmarca}}</td>
                          <td>{{insumo.pplaca}}</td>
                          <td>{{insumo.pcosto}}</td>
                          <td>{{insumo.pproveedores}}</td>
                        </tr>
                      </tbody>
                  </table>
              </div>
          </div>
      </div>
  </div>
</body>
<app-editar-productos
[productos]="insumoAEditar"
(productosActualizados)="listaActualizada($event)"
></app-editar-productos>
</html>

  