 <!-- Modal -->
 <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
         <h1 class="modal-title fs-5" id="exampleModalLabel">Datos del trabajador</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
      <div class="modal-body">
        <div class="container">
          <div class="row">
              <div class="col">
                  <div *ngIf="productos">
                      <br><br>
                      <div class="input-group mb-3">
                          <span class="input-group-text" id="basic-addon1">Nombre</span>
                          <input type="text" class="form-control" placeholder="" aria-label="" aria-describedby="basic-addon1" [(ngModel)]="productos.pnombre">
                      </div>
                      <div class="input-group mb-3">
                          <span class="input-group-text" id="basic-addon1">Marca</span>
                          <input type="text" class="form-control" placeholder="" aria-label="" aria-describedby="basic-addon1" [(ngModel)]="productos.pmarca">
                      </div>
                      <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1">Placa</span>
                        <input type="text" class="form-control" placeholder="" aria-label="" aria-describedby="basic-addon1" [(ngModel)]="productos.pplaca">
                      </div>
                      <div class="input-group mb-3">
                          <span class="input-group-text" id="basic-addon1">Costo</span>
                          <input type="text" class="form-control" placeholder="" aria-label="" aria-describedby="basic-addon1" [(ngModel)]="productos.pcosto">
                      </div>
                      <div class="input-group mb-3">
                          <span class="input-group-text" id="basic-addon1">Proveedores</span>
                          <input type="text" class="form-control" placeholder="" aria-label="" aria-describedby="basic-addon1" [(ngModel)]="productos.pproveedores">
                      </div>
                      <button (click)="agregarInsumos(productos)" *ngIf="productos.pmarca" type="submit" class="btn btn-primary" style="margin-top: 20;">Insertar</button>
                      <button (click)="borrarInsumos(productos)" *ngIf="productos.pmarca" type="submit" class="btn btn-primary" style="margin-top: 20;">Borrar</button>
                      <button (click)="actualizarInsumos(productos)" *ngIf="productos.pmarca" type="submit" class="btn btn-primary" style="margin-top: 20;">Guardar</button>
                  </div>
                  <div class="col">
      

      
                  </div>
              </div>
          </div>
      </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
     </div>
      </div>
      </div>
  </div>
