<div  class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
         <h1 class="modal-title fs-5" id="exampleModalLabel">Datos del cliente</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
      <div class="modal-body">
        <div class="container">
          <div class="row">
              <div class="col">
                  <div *ngIf="vcliente">
                      <br><br>
                      <div class="input-group mb-3">
                          <span class="input-group-text" id="basic-addon1">Nombre</span>
                          <input type="text" class="form-control" placeholder="" aria-label="" aria-describedby="basic-addon1" [(ngModel)]="vcliente.cnombre">
                      </div>
                      <div class="input-group mb-3">
                          <span class="input-group-text" id="basic-addon1">Cédula</span>
                          <input type="text" class="form-control" placeholder="" aria-label="" aria-describedby="basic-addon1" [(ngModel)]="vcliente.ccedula">
                      </div>
                      <div class="input-group mb-3">
                          <span class="input-group-text" id="basic-addon1">Correo</span>
                          <input type="text" class="form-control" placeholder="" aria-label="" aria-describedby="basic-addon1" [(ngModel)]="vcliente.ccorreo">
                      </div>
                      <div class="input-group mb-3">
                          <span class="input-group-text" id="basic-addon1">Usuario</span>
                          <input type="text" class="form-control" placeholder="" aria-label="" aria-describedby="basic-addon1" [(ngModel)]="vcliente.cusuario">
                      </div>
                      <div class="input-group mb-3">
                          <span class="input-group-text" id="basic-addon1">Password</span>
                          <input type="text" class="form-control" placeholder="" aria-label="" aria-describedby="basic-addon1" [(ngModel)]="vcliente.cpassword">
                      </div>
                      <div class="input-group mb-3">
                          <span class="input-group-text" id="basic-addon1">Provincia</span>
                          <input type="text" class="form-control" placeholder="" aria-label="" aria-describedby="basic-addon1" [(ngModel)]="vcliente.cprovincia">
                      </div>
                      <div class="input-group mb-3">
                          <span class="input-group-text" id="basic-addon1">Cantón</span>
                          <input type="text" class="form-control" placeholder="" aria-label="" aria-describedby="basic-addon1" [(ngModel)]="vcliente.ccanton">
                      </div>
                      <div class="input-group mb-3">
                          <span class="input-group-text" id="basic-addon1">Distrito</span>
                          <input type="text" class="form-control" placeholder="" aria-label="" aria-describedby="basic-addon1" [(ngModel)]="vcliente.cdistrito">
                      </div>

                      <button (click)="agregarVistaCliente(vcliente)" *ngIf="vcliente.ccedula" type="submit" class="btn btn-primary" style="margin-top: 20;">Insertar</button>
                      <button (click)="borrarVistaCliente(vcliente)" *ngIf="vcliente.ccedula" type="submit" class="btn btn-primary" style="margin-top: 20;">Borrar</button>
                      <button (click)="actualizarVistaCliente(vcliente)" *ngIf="vcliente.ccedula" type="submit" class="btn btn-primary" style="margin-top: 20;">Guardar</button>
                  </div>
                  <div class="col">


                  </div>
              </div>
          </div>
      </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
        <!-- <button type="button" class="btn btn-primary">Guardar</button> -->
     </div>
      </div>
      </div>
  </div>
